<div style="display: flex; justify-content: center; height: 100vh; background-color: rgb(3, 3, 3);">
    <div class="signup-container">
        <button class="toggle-btn" mat-raised-button color="primary" (click)="toggleRole()">
            Switch to {{ isAdmin ? 'User' : 'Admin' }}
        </button>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Date of Birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobile" placeholder="Mobile Number">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select formControlName="department">
                    <mat-option value="Software Development">Software Development</mat-option>
                    <mat-option value="HR">HR</mat-option>
                    <mat-option value="Admin">Admin</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Password of min length 6">
            </mat-form-field>

            <button class="signup-btn" mat-raised-button color="primary" type="submit">
                Sign Up as {{ isAdmin ? 'Admin' : 'User' }}
            </button>
        </form>
    </div>
</div>

